<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.phoenix.message.common.mapper.TaskConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.phoenix.message.common.entity.TaskConfig">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="type" property="type" />
        <result column="classification" property="classification" />
        <result column="app_name" property="appName" />
        <result column="user_config" property="userConfig" />
        <result column="content_config" property="contentConfig" />
        <result column="account_config" property="accountConfig" />
        <result column="version_config" property="versionConfig" />
        <result column="priority" property="priority" />
        <result column="notes" property="notes" />
        <result column="period" property="period" />
        <result column="use_timezone" property="useTimezone" />
        <result column="send_time" property="sendTime" />
        <result column="record_time" property="recordTime" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, name, type, classification, app_name, user_config, content_config, account_config, version_config, priority, notes, period, use_timezone, send_time, record_time, start_time, end_time, status, deleted, create_time, update_time
    </sql>

</mapper>
