<?xml version="1.0" encoding="UTF-8" ?>
        <!DOCTYPE configuration
                PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
                "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeHandlers>
        <typeHandler handler="com.vova.phoenix.model.po.typehandler.JsonTypeHandler"
                     javaType="java.util.List"/>
        <typeHandler handler="com.vova.phoenix.model.po.typehandler.JsonTypeHandler"
                     javaType="com.vova.phoenix.model.json.TaskConfigExtra"/>
        <typeHandler handler="com.vova.phoenix.model.po.typehandler.JsonTypeHandler"
                     javaType="com.vova.phoenix.model.json.TaskConfigTargetTag"/>
    </typeHandlers>
</configuration>