<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vova.phoenix.mapper.AdminUserMapper">
  <resultMap id="BaseResultMap" type="com.vova.phoenix.model.po.entity.AdminUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="TINYINT" property="roleId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="admin" jdbcType="TINYINT" property="admin" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="app_platform_list" jdbcType="LONGVARCHAR" property="appPlatformList" />
    <result column="message_type_list" jdbcType="LONGVARCHAR" property="messageTypeList" />
  </resultMap>
</mapper>