<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vova.phoenix.mapper.AdminUserMapper">
  <resultMap id="BaseResultMap" type="com.vova.phoenix.model.repository.AdminUser">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="role_id" jdbcType="TINYINT" property="roleId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="real_name" jdbcType="VARCHAR" property="realName" />
    <result column="admin" jdbcType="TINYINT" property="admin" />
    <result column="app_platform" jdbcType="VARCHAR" property="appPlatform" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="operator_id" jdbcType="INTEGER" property="operatorId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <select id="selectOneById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    SELECT * FROM `admin_user` WHERE `id` = #{id,jdbcType=INTEGER} AND `status` > -1
  </select>

  <select id="selectOneByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT * FROM `admin_user` WHERE `name` = #{name,jdbcType=VARCHAR} AND `status` > -1
  </select>
</mapper>